NET "a<0>" LOC="P11";
NET "a<1>" LOC="L3";
NET "a<2>" LOC="K3";
NET "b<0>" LOC="B4";
NET "b<1>" LOC="G3";
NET "b<2>" LOC="F3";
NET "sl<0>" LOC="E2";
NET "sl<1>" LOC="N3";
NET "c<0>" LOC="M5";
NET "c<1>" LOC="M11";
NET "c<2>" LOC="P7";
NET "c<3>" LOC="P6";
NET "c<4>" LOC="N5";
NET "c<5>" LOC="N4";
NET "c<6>" LOC="P4";