//! **************************************************************************
// Written by: Map M.70d on Thu Apr 20 09:48:03 2017
//! **************************************************************************

SCHEMATIC START;
COMP "in1<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "in1<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "in2<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "in2<1>" LOCATE = SITE "G3" LEVEL 1;
COMP "Mout<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Mout<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "addr" LOCATE = SITE "P11" LEVEL 1;
SCHEMATIC END;

